# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/

# Upload cache (if any)
instance/

# MySQL dumps (keep backups locally)
*.sql

*.osm.pbf
