<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Meeting Management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">
    <div class="d-flex justify-content-end gap-1">
        <a href="javascript:history.back()"
           class="btn btn-outline-secondary">

            Back

        </a>
        <a href="/dashboard"
           class="btn btn-dark">

            Back To Dashboard

        </a>  
    </div>
    <div class="card shadow p-4">

        <h2 class="text-center mb-4">

            Edit Meeting

        </h2>

        <form method="POST">

            <div class="row">

                <div class="mb-3">

                    <label class="form-label">

                        Select Lead

                    </label>

                    <select name="lead_id">
                        <option value="">
                            Select Lead
                        </option>

                        {% for lead in leads %}

                        <option value="{{ lead.lead_id }}"
                                data-name="{{ lead.name }}"
                                data-reference="{{ lead.reference }}"
                                data-phone="{{ lead.phone }}"
                                data-location="{{ lead.location }}"
                                {% if lead.lead_id == meeting.lead_id %}
                                    selected
                                {% endif %}>

                            {{ lead.name }}

                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Meeting Fixed By
                    </label>

                    <input type="text"
                           name="meeting_fixed_by"
                           value="{{ meeting.meeting_fixed_by }}">

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Source
                    </label>

                    <select name="source"
                            class="form-select">

                        <option value="Linkedin"
                            {% if meeting.source == 'Linkedin' %}
                                selected
                            {% endif %}>
                            Linkedin
                        </option>

                        <option value="Instagram"
                            {% if meeting.source == 'Instagram' %}
                                selected
                            {% endif %}>
                            Instagram
                        </option>

                        <option value="Customer Reference"
                            {% if meeting.source == 'Customer Reference' %}
                                selected
                            {% endif %}>
                            Customer Reference
                        </option>

                        <option value="Cold Call"
                            {% if meeting.source == 'Cold Call' %}
                                selected
                            {% endif %}>
                            Cold Call
                        </option>

                        <option value="Cold Email"
                            {% if meeting.source == 'Cold Email' %}
                                selected
                            {% endif %}>
                            Cold Email
                        </option>

                        <option value="Gate Crashing"
                            {% if meeting.source == 'Gate Crashing' %}
                                selected
                            {% endif %}>
                            Gate Crashing
                        </option>

                        <option value="Architect"
                            {% if meeting.source == 'Architect' %}
                                selected
                            {% endif %}>
                            Architect
                        </option>

                        <option value="Website"
                            {% if meeting.source == 'Website' %}
                                selected
                            {% endif %}>
                            Website
                        </option>

                        <option value="Direct"
                            {% if meeting.source == 'Direct' %}
                                selected
                            {% endif %}>
                            Direct
                        </option>

                        <option value="Distributors"
                            {% if meeting.source == 'Distributors' %}
                                selected
                            {% endif %}>
                            Distributors
                        </option>

                        <option value="MVC Reference"
                            {% if meeting.source == 'MVC Reference' %}
                                selected
                            {% endif %}>
                            MVC Reference
                        </option>

                        <option value="Contractor"
                            {% if meeting.source == 'Contractor' %}
                                selected
                            {% endif %}>
                            Contractor
                        </option>

                        <option value="Builder"
                            {% if meeting.source == 'Builder' %}
                                selected
                            {% endif %}>
                            Builder
                        </option>

                        <option value="Others"
                            {% if meeting.source == 'Others' %}
                                selected
                            {% endif %}>
                            Others
                        </option>

                    </select>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Name
                    </label>

                    <input type="text"
                           id="name"
                           name="name"
                           value="{{ meeting.name }}">

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Reference
                    </label>

                    <input type="text"
                           id="reference"
                           name="reference"
                           value="{{ meeting.reference }}"
                           class="form-control">

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Firm Name
                    </label>

                    <input type="text"
                           name="firm_name"
                           value="{{ meeting.firm_name }}"
                           class="form-control">

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Designation
                    </label>

                    <input type="text"
                           name="designation"
                           value="{{ meeting.designation }}"
                           class="form-control">

                </div>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Address
                </label>

                <textarea id="address"
                          name="address"
                          class="form-control">{{ meeting.address }}</textarea>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        State
                    </label>

                    <input type="text"
                           name="state"
                           value="{{ meeting.state }}"
                           class="form-control">

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Contact Number
                    </label>

                    <input type="text"
                           id="contact_no"
                           name="contact_no"
                           value="{{ meeting.contact_no }}"
                           class="form-control">

                </div>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Email
                </label>

                <input type="email"
                       name="email"
                       value="{{ meeting.email }}"
                       class="form-control">

            </div>

            <div class="row">

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Company Info Shared
                    </label>

                    <select name="company_info_shared"
                            class="form-select">

                        <option value="YES"
                            {% if meeting.company_info_shared == 'YES' %}
                                selected
                            {% endif %}>
                            YES
                        </option>
                        <option value="NO"
                            {% if meeting.company_info_shared == 'NO' %}
                                selected
                            {% endif %}>
                            NO

                    </select>

                </div>

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Meeting Fixed
                    </label>

                    <select name="meeting_fixed"
                            class="form-select">

                        <option value="YES"
                            {% if meeting.meeting_fixed == 'YES' %}
                                selected
                            {% endif %}>
                            YES
                        </option>
                        <option value="NO"
                            {% if meeting.meeting_fixed == 'NO' %}
                                selected
                            {% endif %}>
                            NO
                        </option>
                    </select>

                </div>

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Date Of Meeting
                    </label>

                    <input type="date"
                           name="date_of_meeting"
                           value="{{ meeting.date_of_meeting }}"
                           class="form-control">

                </div>

            </div>

            <div class="row">

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Mode Of Meeting
                    </label>

                    <select name="mode_of_meeting"
                            class="form-select">

                        <option value="In-person"
                            {% if meeting.mode_of_meeting == 'In-person' %}
                                selected
                            {% endif %}>
                            In-person
                        </option>
                        <option value="Online"
                            {% if meeting.mode_of_meeting == 'Online' %}
                                selected
                            {% endif %}>
                            Online
                        </option>

                    </select>

                </div>

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Meeting Status
                    </label>

                    <input type="text"
                           name="meeting_status"
                           value="{{ meeting.meeting_status }}"
                           class="form-control">

                </div>

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Meeting Conducted By
                    </label>

                    <input type="text"
                           name="meeting_conducted_by"
                           value="{{ meeting.meeting_conducted_by }}"
                           class="form-control">

                </div>

            </div>

            <div class="row">

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Floor Plan Shared
                    </label>

                    <select name="floor_plan_shared"
                            class="form-select">

                        <option value="YES"
                            {% if meeting.floor_plan_shared == 'YES' %}
                                selected
                            {% endif %}>
                            YES
                        </option>
                        <option value="NO"
                            {% if meeting.floor_plan_shared == 'NO' %}
                                selected
                            {% endif %}>
                            NO
                        </option>

                    </select>

                </div>

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Site Visit
                    </label>

                    <select name="site_visit"
                            class="form-select">

                        <option value="YES"
                            {% if meeting.site_visit == 'YES' %}
                                selected
                            {% endif %}>
                            YES
                        </option>
                        <option value="NO"
                            {% if meeting.site_visit == 'NO' %}
                                selected
                            {% endif %}>
                            NO
                        </option>

                    </select>

                </div>

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Post Meeting Mail
                    </label>

                    <select name="post_meeting_mail"
                            class="form-select">

                        <option value="YES"
                            {% if meeting.post_meeting_mail == 'YES' %}
                                selected
                            {% endif %}>
                            YES
                        </option>
                        <option value="NO"
                            {% if meeting.post_meeting_mail == 'NO' %}
                                selected
                            {% endif %}>
                            NO
                        </option>

                    </select>

                </div>

            </div>

            <div class="row">

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Date Of Last Followup
                    </label>

                    <input type="date"
                           name="date_of_last_followup"
                           value="{{ meeting.date_of_last_followup }}"
                           class="form-control">

                </div>

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Date To Call Next
                    </label>

                    <input type="date"
                           name="date_to_call_next"
                           value="{{ meeting.date_to_call_next }}"
                           class="form-control">

                </div>

                <div class="col-md-4 mb-3">

                    <label class="form-label">
                        Reschedule Date
                    </label>

                    <input type="date"
                           name="reschedule_date"
                           value="{{ meeting.reschedule_date }}"
                           class="form-control">

                </div>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Final Remarks
                </label>

                <textarea name="final_remarks"
                          class="form-control">{{ meeting.final_remarks }}</textarea>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Reason For Reschedule
                </label>

                <textarea name="reason_for_reschedule"
                          class="form-control">{{ meeting.reason_for_reschedule }}</textarea>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Remarks
                </label>

                <textarea name="remarks"
                          class="form-control">{{ meeting.remarks }}</textarea>

            </div>

            <button type="submit"
                    class="btn btn-dark">

                Update Meeting

            </button>


        </form>

    </div>

</body>

</html>