<!DOCTYPE html>
<html>

<head>

    <title>Proposal Management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-4">
    <a href="/dashboard"
        class="btn btn-secondary mb-3">

        Back To Dashboard

    </a>
    <div class="card shadow p-4">

        <h2 class="text-center mb-4">

                Edit Proposal

        </h2>

        <form method="POST"
              enctype="multipart/form-data">

        <div class="card shadow-sm p-4 mb-4">

            <h4>

                Select Meeting

            </h4>

            <select name="meeting_id">

                <option value="">

                    Select Meeting

                </option>

                {% for meeting in meetings %}

                    <option value="{{ meeting.meeting_id }}"
                            data-name="{{ meeting.name }}"
                            data-phone="{{ meeting.contact_no }}"
                            data-email="{{ meeting.email }}"
                            data-address="{{ meeting.address }}"
                            data-source="{{ meeting.source }}"
                            data-state="{{ meeting.state }}"
                            {% if meeting.meeting_id == proposal.meeting_id %}
                                selected
                            {% endif %}>

                        {{ meeting.name }}

                </option>

                {% endfor %}

            </select>

        </div>

        <div class="card shadow-sm p-4 mb-4">
            
            <h4>
                Select Drawing

            </h4>

            <select name="drawing_id">


                <option value="">

                    Select Drawing

                </option>

                {% for drawing in drawings %}

                <option value="{{ drawing.drawing_id }}"
                        {% if drawing.drawing_id == proposal.drawing_id %}
                            selected
                        {% endif %}>

                    {{ drawing.name }}

                </option>

                {% endfor %}

            </select>

        </div>

            <!-- CLIENT DETAILS -->

            <div class="card shadow-sm p-4 mb-4">

                <h4 class="mb-3">

                    Client Details

                </h4>

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Reference No

                        </label>

                        <input type="text"
                               name="reference_no"
                               value="{{ proposal.reference_no }}"
                               class="form-control">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Name

                        </label>

                        <input type="text"
                               id="name"
                               name="name"
                               value="{{ proposal.name }}"
                               class="form-control">

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Phone No Client

                        </label>

                        <input type="text"
                               id="phone_no_client"
                               name="phone_no_client"
                               value="{{ proposal.phone_no_client }}"
                               class="form-control">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Email

                        </label>

                        <input type="email"
                               id="email"
                               name="email"
                               value="{{ proposal.email }}"
                               class="form-control">

                    </div>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        Site Address

                    </label>

                    <textarea id="site_address"
                              name="site_address"
                              class="form-control"
                              rows="3">{{ proposal.site_address }}</textarea>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        State

                    </label>

                    <input type="text"
                           id="state"
                           name="state"
                           value="{{ proposal.state }}"
                           class="form-control">

                </div>

            </div>

            <!-- SOURCE DETAILS -->

            <div class="card shadow-sm p-4 mb-4">

                <h4 class="mb-3">

                    Source Details

                </h4>

                <div class="mb-3">

                    <label class="form-label">

                        Source

                    </label>

                    <input type="text"
                           id="source"
                           name="source"
                           value="{{ proposal.source }}"
                           class="form-control">

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        Reference Source Details

                    </label>

                    <textarea name="reference_source_details"
                              class="form-control"
                              rows="3">{{ proposal.reference_source_details }}</textarea>

                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Phone No Source

                        </label>

                        <input type="text"
                               name="phone_no_source"
                               value="{{ proposal.phone_no_source }}"
                               class="form-control">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Contact Person

                        </label>

                        <input type="text"
                               name="contact_person"
                               value="{{ proposal.contact_person }}"
                               class="form-control">

                    </div>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        Phone No Contact Person

                    </label>

                    <input type="text"
                           name="phone_no_contact_person"
                           value="{{ proposal.phone_no_contact_person }}"
                           class="form-control">

                </div>

            </div>

            <!-- PROJECT DETAILS -->

            <div class="card shadow-sm p-4 mb-4">

                <h4 class="mb-3">

                    Project Details

                </h4>

                <div class="row">

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Type

                        </label>

                        <select name="type"
                                class="form-select">

                            <option value="Residential"
                                    {% if proposal.type == 'Residential' %}selected{% endif %}>
                                Residential
                            </option>
                            <option value="Office/Commercial Space"
                                    {% if proposal.type == 'Office/Commercial Space' %}selected{% endif %}>
                                Office/Commercial Space
                            </option>
                            <option value="School/University"
                                    {% if proposal.type == 'School/University' %}selected{% endif %}>
                                School/University
                            </option>
                            <option value="Farmhouse"
                                    {% if proposal.type == 'Farmhouse' %}selected{% endif %}>
                                Farmhouse
                            </option>
                            <option value="Others"
                                    {% if proposal.type == 'Others' %}selected{% endif %}>
                                Others
                            </option>

                        </select>

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Total Area Sq Ft

                        </label>

                        <input type="number"
                               step="0.01"
                               name="total_area_sqft"
                               value="{{ proposal.total_area_sqft }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Type Of Units

                        </label>

                        <input type="text"
                               name="type_of_units"
                               value="{{ proposal.type_of_units }}"
                               class="form-control">

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            No Of MVD Units

                        </label>

                        <input type="number"
                               name="no_of_mvd_units"
                               value="{{ proposal.no_of_mvd_units }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            No Of MVD Max Units

                        </label>

                        <input type="number"
                               name="no_of_mvd_max_units"
                               value="{{ proposal.no_of_mvd_max_units }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Total No Of Units

                        </label>

                        <input type="number"
                               name="total_no_of_units"
                               value="{{ proposal.total_no_of_units }}"
                               class="form-control">

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Product

                        </label>

                        <input type="text"
                               name="product"
                               value="{{ proposal.product }}"
                               class="form-control">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            No Of Monitors

                        </label>

                        <input type="number"
                               name="no_of_monitors"
                               value="{{ proposal.no_of_monitors }}"
                               class="form-control">

                    </div>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        CMC

                    </label>

                    <select name="cmc"
                            class="form-select">

                        <option value="YES"
                            {% if proposal.cmc == 'YES' %}
                                selected
                            {% endif %}>
                            YES
                        </option>

                        <option value="NO"
                            {% if proposal.cmc == 'NO' %}
                                selected
                            {% endif %}>
                            NO
                        </option>

                    </select>

                </div>

            </div>
                        <!-- COSTING DETAILS -->

            <div class="card shadow-sm p-4 mb-4">

                <h4 class="mb-3">

                    Costing Details

                </h4>

                <div class="row">

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Cost Total Per Unit

                        </label>

                        <input type="number"
                               step="0.01"
                               name="cost_total_per_unit"
                               value="{{ proposal.cost_total_per_unit }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                           CMC Per Unit Cost

                        </label>

                        <input type="number"
                               step="0.01"
                               name="per_unit_cost"
                               value="{{ proposal.per_unit_cost }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Per Unit Cost Max Unit

                        </label>

                        <input type="number"
                               step="0.01"
                               name="per_unit_cost_max_unit"
                               value="{{ proposal.per_unit_cost_max_unit }}"
                               class="form-control">

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            CMC Cost

                        </label>

                        <input type="number"
                               step="0.01"
                               name="cmc_cost"
                               value="{{ proposal.cmc_cost }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Monitor Cost

                        </label>

                        <input type="number"
                               step="0.01"
                               name="monitor_cost"
                               value="{{ proposal.monitor_cost }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Installation Cost

                        </label>

                        <input type="number"
                               step="0.01"
                               name="installation_cost"
                               value="{{ proposal.installation_cost }}"
                               class="form-control">

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Total Amount

                        </label>

                        <input type="number"
                               step="0.01"
                               id="total_amount"
                               name="total_amount"
                               value="{{ proposal.total_amount }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Discount

                        </label>

                        <input type="number"
                               step="0.01"
                               id="discount"
                               name="discount"
                               value="{{ proposal.discount }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Final Amount

                        </label>

                        <input type="number"
                               step="0.01"
                               name="final_amount"
                               class="form-control"
                               id="final_amount"
                               value="{{ proposal.final_amount }}"
                               readonly>


                    </div>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        CMC Starting Period

                    </label>

                    <input type="text"
                           name="cmc_starting_period"
                           value="{{ proposal.cmc_starting_period }}"
                           class="form-control">

                </div>

            </div>

            <!-- TRACKING DETAILS -->

            <div class="card shadow-sm p-4 mb-4">

                <h4 class="mb-3">

                    Tracking Details

                </h4>

                <div class="row">

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Date Of Proposal Sent

                        </label>

                        <input type="date"
                               name="date_of_proposal_sent"
                               value="{{ proposal.date_of_proposal_sent }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Date Of Last Followup

                        </label>

                        <input type="date"
                               name="date_of_last_followup"
                               value="{{ proposal.date_of_last_followup }}"
                               class="form-control">

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">

                            Next To Call

                        </label>

                        <input type="date"
                               name="next_to_call"
                               value="{{ proposal.next_to_call }}"
                               class="form-control">

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Proposal Prepared By

                        </label>

                        <input type="text"
                               name="proposal_prepared_by"
                               value="{{ proposal.proposal_prepared_by }}"
                               class="form-control">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">

                            Proposal Shared By

                        </label>

                        <input type="text"
                               name="proposal_shared_by"
                               value="{{ proposal.proposal_shared_by }}"
                               class="form-control">

                    </div>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        Status

                    </label>

                    <input type="text"
                           name="status"
                           value="{{ proposal.status }}"
                           class="form-control">

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        Remarks

                    </label>

                    <textarea name="remarks"
                              rows="3"
                              class="form-control">{{ proposal.remarks }}</textarea>

                </div>

            </div>

            <!-- DOCUMENTS -->

            <div class="card shadow-sm p-4 mb-4">

                <h4 class="mb-3">

                    Documents

                </h4>

                <div class="mb-3">
                    <label class="form-label">
                        Current Proposal PDF
                    </label>

                    <br>

                    {% if proposal.proposal_pdf %}

                    <a href="{{ url_for(
                        'static',
                        filename=proposal.proposal_pdf
                    ) }}"
                    target="_blank">

                        View Current PDF

                    </a>

                    <br><br>

                {% endif %}

                <label class="form-label">

                    Upload New PDF (Optional)

                </label>

                <input type="file"
                       name="proposal_pdf"
                       class="form-control">

                </div>

            </div>

            <button type="submit"
                    class="btn btn-dark">

                Update Proposal

            </button>


        </form>

    </div>

</div>

<script>

function calculateFinalAmount() {

    let total =
        parseFloat(
            document.getElementById(
                'total_amount'
            ).value
        ) || 0;

    let discount =
        parseFloat(
            document.getElementById(
                'discount'
            ).value
        ) || 0;

    let amountAfterDiscount =
        total - discount;

    let finalAmount =
        amountAfterDiscount * 1.18;

    document.getElementById(
        'final_amount'
    ).value =
        finalAmount.toFixed(2);

}

document.getElementById(
    'total_amount'
).addEventListener(
    'input',
    calculateFinalAmount
);

document.getElementById(
    'discount'
).addEventListener(
    'input',
    calculateFinalAmount
);

</script>

</body>

</html>