<!DOCTYPE html>
<html>

<head>

    <title>

        Employee Invoices

    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">

<div class="container py-5">
    <div class="d-flex justify-content-end gap-1">
        <a href="javascript:history.back()"
           class="btn btn-outline-secondary">

            Back

        </a>
        <a href="/dashboard"
           class="btn btn-dark">

            Back To Dashboard

        </a>  
    </div>  
    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h2 class="mb-1">

                {{ user.full_name }}

            </h2>

            <small class="text-muted">

                Invoices

            </small>

        </div>


    </div>

    <div class="card shadow-sm">

        <div class="card-body">
            <form method="GET"
                  class="mb-3">
                <div class="input-group">
                    <input type="text"
                           name="search"
                           value="{{request.args.get('search','')}}"
                           class="form-control"
                           placeholder="Search">
                    <button type="submit"
                            class="btn btn-dark">
                        Search
                    </button>
                    <a href="{{ url_for('add_invoice') }}"
                        class="btn btn-secondary">
                        Clear
                    </a>
                </div>
            </form>

            <table class="table table-bordered table-striped">

                <thead>

                    <tr>

                        <th>ID</th>

                        <th>Invoice No</th>

                        <th>Name</th>

                        <th>GST No</th>

                        <th>Total Revenue</th>

                        <th>PDF</th>

                        <th>Action</th>

                    </tr>

                </thead>

                <tbody>

                    {% for invoice in invoices %}

                    <tr>

                        <td>{{ invoice.invoice_id }}</td>

                        <td>{{ invoice.invoice_no }}</td>

                        <td>{{ invoice.name }}</td>

                        <td>{{ invoice.gst_no }}</td>

                        <td>{{ invoice.total_revenue }}</td>

                        <td>
                            {% if invoice.invoice_pdf %}

                            <a href="{{ url_for(
                                            'static',
                                            filename=invoice.invoice_pdf
                                        ) }}"
                               target="_blank"
                               class="btn btn-dark btn-sm">

                                View PDF

                            </a>

                            {% else %}

                                No PDF

                            {% endif %}

                        </td>

                        <td>

                            <a href="/invoice/{{ invoice.invoice_id }}"
                               class="btn btn-dark btn-sm">

                                View

                            </a>
                            {% if session['role'] == 'ADMIN' %}
                            <a href="/edit-invoice/{{ invoice.invoice_id }}"
                               class="btn btn-warning btn-sm">

                                Edit
                            </a>
                            <a href="/request-delete-invoice/{{ invoice.invoice_id }}"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm(
                                   'Delete this invoice?'
                               )">

                                Delete
                            </a>
                            {% endif %}

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>              
            

            

        </div>

    </div>

</div>

</body>

</html>