<!DOCTYPE html>
<html>

<head>

    <title>Meeting Details</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-4">
    <div class="d-flex justify-content-end gap-1">
        <a href="javascript:history.back()"
           class="btn btn-outline-secondary">

            Back

        </a>
        <a href="/dashboard"
           class="btn btn-dark">

            Back To Dashboard

        </a>  
    </div>
    <div class="card shadow p-4">

        <h2 class="text-center mb-4">

            Meeting Details

        </h2>

        <table class="table table-bordered">

            <tr>
                <th>Meeting Fixed By</th>
                <td>{{ meeting.meeting_fixed_by }}</td>
            </tr>

            <tr>
                <th>Source</th>
                <td>{{ meeting.source }}</td>
            </tr>

            <tr>
                <th>Name</th>
                <td>{{ meeting.name }}</td>
            </tr>

            <tr>
                <th>Reference</th>
                <td>{{ meeting.reference }}</td>
            </tr>

            <tr>
                <th>Firm Name</th>
                <td>{{ meeting.firm_name }}</td>
            </tr>

            <tr>
                <th>Designation</th>
                <td>{{ meeting.designation }}</td>
            </tr>

            <tr>
                <th>Address</th>
                <td>{{ meeting.address }}</td>
            </tr>

            <tr>
                <th>State</th>
                <td>{{ meeting.state }}</td>
            </tr>

            <tr>
                <th>Contact No</th>
                <td>{{ meeting.contact_no }}</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>{{ meeting.email }}</td>
            </tr>

        </table>

    </div>

    <br>

    <div class="card shadow p-4">

        <h4>

            Meeting Status

        </h4>

        <table class="table table-bordered">

            <tr>
                <th>Company Info Shared</th>
                <td>{{ meeting.company_info_shared }}</td>
            </tr>

            <tr>
                <th>Meeting Fixed</th>
                <td>{{ meeting.meeting_fixed }}</td>
            </tr>

            <tr>
                <th>Date Of Meeting</th>
                <td>{{ meeting.date_of_meeting }}</td>
            </tr>

            <tr>
                <th>Mode Of Meeting</th>
                <td>{{ meeting.mode_of_meeting }}</td>
            </tr>

            <tr>
                <th>Meeting Status</th>
                <td>{{ meeting.meeting_status }}</td>
            </tr>

            <tr>
                <th>Meeting Conducted By</th>
                <td>{{ meeting.meeting_conducted_by }}</td>
            </tr>

            <tr>
                <th>Floor Plan Shared</th>
                <td>{{ meeting.floor_plan_shared }}</td>
            </tr>

            <tr>
                <th>Site Visit</th>
                <td>{{ meeting.site_visit }}</td>
            </tr>

            <tr>
                <th>Post Meeting Mail</th>
                <td>{{ meeting.post_meeting_mail }}</td>
            </tr>

        </table>

    </div>
        <br>

    <div class="card shadow p-4">

        <h4>

            Followup & Remarks

        </h4>

        <table class="table table-bordered">

            <tr>
                <th>Date Of Last Followup</th>
                <td>{{ meeting.date_of_last_followup }}</td>
            </tr>

            <tr>
                <th>Date To Call Next</th>
                <td>{{ meeting.date_to_call_next }}</td>
            </tr>

            <tr>
                <th>Final Remarks</th>
                <td>{{ meeting.final_remarks }}</td>
            </tr>

            <tr>
                <th>Remarks</th>
                <td>{{ meeting.remarks }}</td>
            </tr>

        </table>

    </div>

    <br>

    <div class="card shadow p-4">

        <h4>

            Reschedule Details

        </h4>

        <table class="table table-bordered">

            <tr>
                <th>Reschedule Date</th>
                <td>{{ meeting.reschedule_date }}</td>
            </tr>

            <tr>
                <th>Reason For Reschedule</th>
                <td>{{ meeting.reason_for_reschedule }}</td>
            </tr>

        </table>

    </div>

    <br>



</div>

</body>

</html>